/* Fuente Titulos */
@font-face {
  font-family: "Boheme Floral";
  src: url("../fonts/boheme_floral/Boheme Floral.ttf");
}

.fuenteTitulo {
  font-family: "Boheme Floral";
  font-size: 4.2rem;
  text-align: center;
}

@font-face {
  font-family: "Calibri Bold";
  src: url("../fonts/calibri-font-sv/Calibri Bold/Calibri Bold.TTF");
}

.fuenteSubTitulos {
  font-family: "Calibri Bold";
}

@font-face {
  font-family: "Calibri Regular";
  src: url("../fonts/calibri-font-sv/Calibri Regular/Calibri Regular.ttf");
}

body {
  font-family: "Calibri Regular";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header header header header" "aside main main main main main" ". main main main main main" "footer footer footer footer footer footer";
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* Fondo */
  background-image: url(../img/logosBVN/Rosa1_Grey.svg);
  background-size: 60rem;
  background-position: right -3rem bottom -15rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  justify-items: center;
}

body header hr {
  border: 0;
  height: 2px;
  width: 35rem;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  gap: 2rem;
  margin-bottom: 4rem;
}

body nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  padding: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.75);
  list-style: none;
}

body nav ul {
  list-style-type: none;
  margin-left: -40px;
}

body nav li {
  padding: 0.40rem;
}

body nav li a {
  color: #878787;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  font-size: 20px;
}

body nav li a:hover {
  color: black;
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}

body main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main #contenedorImgCV {
  width: 100%;
  height: 100%;
}

body main #contenedorImgCV embed {
  width: 100%;
  height: 100vh;
}

body footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: 1.5rem;
  color: white;
  background-color: black;
}

body footer #contenedorSocial {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer #contenedorSocial #contenedorLogoLinkedin, body footer #contenedorSocial #contenedorLogoGmail {
  margin: 2px;
}

body footer #contenedorSocial #contenedorLogoLinkedin a i, body footer #contenedorSocial #contenedorLogoGmail a i {
  color: white;
}

/*Formato Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
        grid-template-areas: "header header header header header header" "aside main main main main main" ". main main main main main" "footer footer footer footer footer footer";
  }
  body nav {
    padding: 0;
  }
  body header {
    width: 100%;
  }
  body header hr {
    margin-bottom: 1rem;
    width: 20rem;
  }
}

/*Formato Movil*/
@media (min-width: 320px) and (max-width: 767px) {
  body {
        grid-template-areas: "header header header header header header" "aside aside aside aside aside aside" "main main main main main main" "footer footer footer footer footer footer";
  }
  body nav {
    border-right: none;
    padding: 0;
  }
  body nav ul {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  body nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  body main {
    padding: 2rem;
  }
  body header {
    width: 100%;
  }
  body header hr {
    margin-bottom: 1rem;
    width: 15rem;
  }
}

body main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: main;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "contenedorTextoAcercaDe contenedorTextoAcercaDe contenedorLogos contenedorLogos contenedorLogos";
}

body main #textoAcercaDe {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contenedorTextoAcercaDe;
  justify-items: center;
  width: 30rem;
}

body main #textoAcercaDe ul {
  list-style: none;
  padding: 0.60rem;
}

body main #textoAcercaDe ul li {
  list-style: none;
  padding: 0.20rem;
}

body main #contenedorPrototipo {
  width: 40rem;
  height: 100vh;
}

body main #contenedorPrototipo embed {
  width: 100%;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 1024px) {
  body main #textoAcercaDe {
    width: auto;
  }
  body main #contenedorPrototipo {
    width: auto;
  }
}
/*# sourceMappingURL=AcercaDe_portfolio.css.map */